In [26]:
import pandas as pd
import numpy as np

In [27]:
dados = [[1,2,3],
        [4,5,6],
        [7,8,9]]
dados

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
anos = np.loadtxt('dados/carros-anos.txt')
anos
len(anos)

258

In [31]:
quilometragem = np.loadtxt('dados/carros-km.txt', dtype = int)

In [50]:
valor = np.loadtxt('dados/carros-valor.txt')
valor

array([ 88078.64, 106161.94,  72832.16, 124549.07,  92612.1 ,  97497.73,
        56445.2 , 112310.44, 120716.27,  76566.49,  71647.59,  73919.53,
       112732.99,  53183.38, 127488.42,  59910.4 ,  61118.59,  88552.39,
        62696.69, 101726.3 , 106147.38,  94564.4 , 133529.84, 125684.65,
       121596.21,  71367.1 ,  95347.75, 105432.84,  57045.27, 120432.7 ,
        70707.2 ,  69105.18,  59358.69,  65955.4 ,  60017.03, 118909.52,
        51606.59, 123281.87,  69770.18, 102609.54,  67997.19, 135235.29,
        86641.34, 136818.39, 117626.73,  56208.7 ,  84222.65,  90781.65,
        64701.1 , 126350.49, 148152.89, 132298.83, 137627.63,  80422.71,
        56373.99,  70846.03, 128694.23, 133329.19, 131961.43, 112033.27,
        81399.35,  97163.1 ,  66007.16, 128776.22, 142623.02, 136930.13,
        66526.61, 114154.87, 142392.75, 146716.91, 122485.68,  97951.03,
        78283.49,  83434.04,  77836.23,  60813.92,  91353.86, 116281.21,
       145197.7 ,  50742.1 ,  73033.53,  54332.87,  52207.45,  63578.5 ,
        64507.72, 115075.59, 133030.6 , 141591.86, 100380.28,  96369.04,
       142603.84, 117709.67, 102241.54,  96065.38,  53894.61, 123911.78,
       101996.35,  83431.66, 122975.63,  93227.73,  58762.65, 139549.67,
       122016.42,  72731.98,  88416.54,  73873.42,  70709.34, 115306.5 ,
        55924.63,  85052.26,  56646.34, 138946.88, 108256.72,  58979.3 ,
       114727.68, 139661.48,  80382.24, 149157.17,  87830.41, 143568.22,
       138171.85, 115784.95, 146508.99, 137670.23, 138597.27, 147627.81,
        62999.02,  91242.44, 149489.92,  63529.95,  58525.41,  90345.05,
       147770.87, 106617.71, 104929.88, 100712.45, 141982.93, 104038.79,
        88501.54,  79782.02,  86224.1 , 103596.18, 148996.47,  60948.01,
        69535.44, 111130.33,  65847.69,  78096.06,  69219.89, 144118.91,
        77397.05,  68974.25, 125231.3 ,  85501.12, 137116.21, 138823.81,
       117961.95, 132662.32, 146405.79,  81999.21, 140934.6 ,  82366.81,
        70424.11,  53620.31,  73389.18, 111618.12, 112187.37, 120812.57,
       116031.04, 125398.11,  76101.47,  75263.24, 147387.76,  85311.4 ,
        54388.11, 124156.65, 146203.34,  56453.94,  68873.79,  91667.61,
        93776.52,  66433.82, 109059.27, 122069.97, 113090.32,  89401.1 ,
        56842.79, 146676.71,  89511.96,  97290.18, 120673.56, 114434.94,
       139546.69,  95078.16,  68091.77,  61496.97, 139669.3 ,  80661.39,
        61783.65,  52805.91, 127024.75, 135543.  , 121708.73, 107342.68,
        57888.1 , 118161.48, 142499.06, 128396.11, 112350.61, 124661.38,
        54263.16,  62041.32, 129296.11,  60998.33,  58008.5 ,  82304.19,
       114531.74, 128565.61, 126488.26, 119074.55, 130238.04, 115760.17,
       121248.  ,  98156.35, 112146.8 , 102729.63, 141083.35, 102968.76,
        76310.01, 120481.74,  54559.18,  92957.64, 127810.06,  73311.75,
        65138.03,  90141.47,  71160.36,  67539.79,  67664.86,  68652.16,
       114728.74, 141645.08, 126247.84, 128852.21, 132384.76, 129415.33,
        89536.82,  87975.3 ,  77675.79,  58881.67,  55081.99, 118826.44,
       137627.62,  51759.58,  51667.06,  68934.03, 122110.9 ,  90381.47])

In [33]:
zero_km = np.loadtxt('dados/carros-zero-km.txt')

In [60]:
nomes_carros = np.loadtxt('dados/carros-nomes.txt', dtype = str, delimiter = ';')
nomes_carros

array(['Jetta Variant', 'Passat', 'Crossfox', 'DS5', 'Aston Martin DB4',
       'Palio Weekend', 'A5', 'Serie 3 Cabrio', 'Dodge Jorney', 'Carens',
       'Ford Edge', 'Courier', 'S-18', 'J5', 'F-Type Coupe', 'RAM',
       'Serie 1', 'A3', 'XC90', 'RS 3 Sportback', 'Pajero Sport',
       'Serie 1 M', 'Lamborghini Obvious', 'Effa Hafei Picape Bau',
       'Lamborghini Murcielago', 'Up!', 'Fiesta Rocam Sedan',
       'Sandero Stepway', 'Cayman S', 'V40', 'Classe SLS AMG', 'Gol G4',
       'Linea', 'Ford F100', 'J2', 'Aston Martin DBS', 'Pajero TR4',
       'Polo Sedan', 'California', 'S60', 'Tucson', 'HB20', 'Optima',
       'Logan', 'Range Rover Vogue', 'Sonata', 'Ford New Fiesta Sedan',
       'Serie 5 Gran Turismo', 'CR-V', 'Ford EcoSport', 'Versa',
       'Classe E', 'Carnival', 'Aston Martin V8 Vantage Roadster',
       'Hoggar', 'A1', 'Aston Martin DB7 Vantage', 'CLA', 'Accord',
       'EXTRA 103EX', 'Sorento', 'Tiggo', 'New Fiesta Hatch',
       'Jeep Renegade', 'Lamborghini Ankonian', 'Space Cross', 'Touareg',
       'Classe M', 'Lancer Evolution X', 'Kangoo Express', 'SW4',
       'Cadillac ELR', 'Doblo', 'Lamborghini Egoista', 'Fit', 'C5',
       'Celer Hatch', 'HB20S', 'Cielo Hatch', 'Livina', 'Ducato', 'March',
       'Cadillac XTS sedan', 'Lamborghini Centenario', 'Hilux',
       'Grand Siena', 'Symbol', 'Aston Martin V12 GT Zagato', 'Fusion',
       'A4 Sedan', 'Xsara Picasso', '207 SW', 'Star', 'Doblo Cargo',
       'Cadillac CTS', 'Cayenne', 'Fox', 'Tiida Hatch', 'Dodge Charger',
       'Face', 'Prius', 'Idea', 'A8', 'Serie 1 Cabrio', 'Edge',
       'Cadillac ATS sedan', 'Lamborghini Asterion LPI 910-4', 'Frontier',
       'Serie 3 Seda', 'Lamborghini LM002', 'Cadillac XLR', 'A4 Avant',
       'EcoSport', 'J3', 'Q3', 'Aston Martin V8 Vantage', 'Z4 Roadster',
       'Lamborghini Ferruccio', 'Ford Ka+', 'Silver Shadow',
       'Classe C 63 AMG Touring', 'Discovery 4', 'Veloster', 'Classe C',
       'Camry', 'C5 Tourer', 'R8 GT', 'Bongo', 'ASX', 'Cadillac SRX',
       'Classe CL', '500 Abarth', 'Aston Martin Cygnet', 'Cadillac STS',
       'Aston Martin DB9', 'NX 200t', 'Aston Martin One-77',
       'Lamborghini Veneno', 'Sentra', 'Jumper', 'i30', 'X6', 'Voyage',
       'Phantom I Phantom II', 'Passat Variant', 'Clio', 'Classe G',
       'Silver Ghost', 'Serie 3 M3 Coupe', 'Gallardo LP 560',
       'Freelander 2', 'Grand Cherokee', 'Aston Martin DBR9', 'Soul',
       'Cadillac BLS', 'RX 350', 'Cayman', 'Chana Utility', '308 CC',
       'L200 Triton', 'Jetta', 'C4 Lounge', 'C4 Pallas', 'Equus',
       'Classe GL', 'Range Rover Evoque', 'Cherokee', 'Punto',
       'Grand Tour', 'Fluence', 'Effa Hafei Picape Cabine Simples',
       'Durango', 'Boxster', 'TT Roadster', 'Lamborghini Jalpa',
       'Classe SLK', 'Golf', 'C3 Picasso', 'V50', 'Picanto', 'Cadenza',
       'Etios Seda', 'Alsvin', 'Cadillac ATS', 'Serie 3 M3 Seda',
       'Classe S', 'T6', 'Aston Martin DB7', '207 Sedan',
       'Aston Martin Virage', 'Azera', 'Vantage Volante', 'Siena EL',
       'Palio Adventure', 'HB20X', 'HR', 'Cadillac STS V-Series',
       'Serie 1 Coupe', 'SpaceFox', 'C30', 'J3 Turin', 'Classe B',
       'Parati', 'Cadillac CTS V-Series', 'Sedan', 'Classe CLS 63 AMG',
       'Aircross', 'Aston Martin V12 Vantage', 'Sandero', 'New Fiesta',
       'XKR', 'X5', 'Cadillac DTS', 'Pajero Dakar', 'Classe A',
       'Ford Focus Fastback', 'Partner', 'R8', 'Aston Martin DBS Volante',
       'Mohave', 'Fusca', 'Chana Family', 'XC40',
       'Phantom I Jonckheere Aerodynamic Coupe', 'Boxer', 'Chana Cargo',
       'Dodge Dakota', 'X1', 'GLA', 'Range Rover Sport', 'DS3',
       'Veracruz', 'Cadillac CTS coupe, sedan, and wagon', 'i30 CW',
       'Phantom III', 'A3 Sedan', 'Aston Martin DB9 Volante',
       'Serie 7 Seda', 'Lamborghini Reventon', 'Grand Livina', 'V60',
       'Effa Hafei Picape Cabine Dupla', 'Benni Mini', 'Uno',
       'L200 Savana', 'Santa Fe', 'RS5', 'Cerato', 'XC60', 'LS 460L',
       'Lamborghini Sesto Elemento', 'Lamborghini Huracan', 'A7',
       'Phantom 2013', 'Cadillac Ciel concept', 'Classe GLK',
       'Aston Martin DB5', 'Macan'], dtype='<U38')

In [58]:
range(10)

range(0, 10)

In [61]:
treino = list(range(10))
treino

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
treino.append(11)
treino

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [66]:
treino.pop()
treino

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
acessorios

['Rodas de liga',
 'Travas elétricas',
 'Piloto automático',
 'Bancos de couro',
 'Ar condicionado',
 'Sensor de estacionamento',
 'Sensor crepuscular',
 'Sensor de chuva']

In [70]:
acessorios.sort()
acessorios

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Rodas de liga',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas']

In [71]:
acessorios.append('4x4')
acessorios

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Rodas de liga',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas',
 '4x4']

In [72]:
'Bancos de couro' not in acessorios

False

In [73]:
type('Bancos de couro' not in acessorios)

bool

In [74]:
len(acessorios)

9

In [75]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [78]:
list(i**2 for i in range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [90]:
list(i for i in range(258))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257]

In [93]:
dados

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [95]:
for lista in dados:
    for inteiros in lista:
        print(inteiros)

1
2
3
4
5
6
7
8
9

In [116]:
numeros = []

for i in range (10):
    numeros.append(i)
    
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
numeros = [print (i) for i in range(10)]
numeros

0
1
2
3
4
5
6
7
8
9

[None, None, None, None, None, None, None, None, None, None]

In [117]:
# 1º item da lista - Nome do veículo
# 2º item da lista - Ano de fabricação
# 3º item da lista - Veículo é zero km?

dados = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
dados

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [124]:
novinho = []

for lista in dados:
    if(lista[2] == True):  
        novinho.append(lista)
        
novinho

[['DS5', 2019, True], ['A5', 2019, True]]

In [125]:
velhinho = []

for lista in dados:
    if(lista[2] == False):  
        velhinho.append(lista)
        
velhinho

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

## List comprehensions

In [128]:
novinho = []
novinho.append([lista for lista in dados if lista[2] == True])
novinho

[[['DS5', 2019, True], ['A5', 2019, True]]]

In [129]:
velhinho = []
velhinho.append([lista for lista in dados if lista[2] == False])        
velhinho

[[['Jetta Variant', 2003, False],
  ['Passat', 1991, False],
  ['Crossfox', 1990, False],
  ['Aston Martin DB4', 2006, False],
  ['Palio Weekend', 2012, False],
  ['Série 3 Cabrio', 2009, False],
  ['Dodge Jorney', 2019, False],
  ['Carens', 2011, False]]]

In [138]:
zero_km_N, zero_km_Y = [], []

for lista in dados:
  if lista[2] == True:
    zero_km_Y.append(lista)
  else:
    zero_km_N.append(lista)

In [139]:
zero_km_Y

[['DS5', 2019, True], ['A5', 2019, True]]

In [140]:
zero_km_N

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [142]:
a, b, c = [], [], []

for lista in dados:
  if lista[1] <= 2000:
    a.append(lista)
  elif 2000 < lista[1] <= 2010:
    b.append(lista)
  else:
    c.append(lista)

In [143]:
a

[['Passat', 1991, False], ['Crossfox', 1990, False]]

In [144]:
b

[['Jetta Variant', 2003, False],
 ['Aston Martin DB4', 2006, False],
 ['Série 3 Cabrio', 2009, False]]

In [145]:
c

[['DS5', 2019, True],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [146]:
d, e, f = [], [], []

for lista in dados:
  if lista[1] <= 2000:
    d.append(lista)
  elif lista [1] > 2000 and lista [1] <= 2010:
    e.append(lista)
  else:
    f.append(lista)

In [147]:
d

[['Passat', 1991, False], ['Crossfox', 1990, False]]

In [148]:
e

[['Jetta Variant', 2003, False],
 ['Aston Martin DB4', 2006, False],
 ['Série 3 Cabrio', 2009, False]]

In [149]:
f

[['DS5', 2019, True],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]